<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-touch-fullscreen" content="YES" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>安装数字证书</title>
	<script type="text/javascript">
    		(function(doc, win, undefined) {
				var docEl = doc.documentElement,
					resizeEvt = 'orientationchange' in win ? 'orientationchange' : 'resize',
					recalc = function() {
						var clientWidth = docEl.clientWidth;
						if(clientWidth === undefined) return;
						docEl.style.fontSize =(clientWidth / 750)*100 + 'px';
						docEl.style.display = "block";
					};
				if(doc.addEventListener === undefined) return;
				win.addEventListener(resizeEvt, recalc, false);
				doc.addEventListener('DOMContentLoaded', recalc, false)
			})(document, window);
    </script>
	<link rel="stylesheet" href="../styles/common.css">
	<link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" type="text/css" href="../styles/certinstall.css">
</head>
<body>
	<header>
		<div class="title">
			<span id="backTo"></span>
			<span>安装数字证书</span>
		</div>
	</header>
	<!-- 安装成功图片 -->
	<div class="wrap">
		
	
	<div class="cowPic" id="successCow">
		<img src="../images/certinstall/successcow.png"/>
	</div>
	
	<div class="installing">
		<span>正在安装数字证书...</span>
	</div>
	<!-- 数字证书安装成功页面 -->
	<div class="successbtn hide">

		<div class="installsuccess">
			<span>安装成功！</span>
		</div>

		<div class="nextstep">
			<span>下一步</span>
		</div>
	</div>
	<!-- 数字证书安装失败页面 -->
	<div  class="failbtn hide">
		<div class="cowPic" id="failCow">
			<img src="../images/certinstall/failcow.png">
		</div>

		<div class="installfail">
			<span>安装失败！</span>
		</div>
		
		<div>
			<div class="reInstall" id="reInstall">
				<span>点击重新安装</span>
			</div>
			<div  class="linkService" id="linkService">
				<span>联系客服解决</span>
			</div>
		</div>
	</div>
	</div>
	<script type="text/javascript" src='../scripts/zepto.js'></script>
	<script type="text/javascript" src='../scripts/basic.js'></script>
	<script type="text/javascript" src='../scripts/certinstall.js'></script>
	<script type="text/javascript" src='../scripts/utilMD5.js'></script>
</body>
</html>