<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-touch-fullscreen" content="YES" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>视频见证</title>
	<script type="text/javascript">
    		(function(doc, win, undefined) {
				var docEl = doc.documentElement,
					resizeEvt = 'orientationchange' in win ? 'orientationchange' : 'resize',
					recalc = function() {
						var clientWidth = docEl.clientWidth;
						if(clientWidth === undefined) return;
						docEl.style.fontSize =(clientWidth / 750)*100 + 'px';
						docEl.style.display = "block";
					};
				if(doc.addEventListener === undefined) return;
				win.addEventListener(resizeEvt, recalc, false);
				doc.addEventListener('DOMContentLoaded', recalc, false)
			})(document, window);
    </script>
	<link rel="stylesheet" href="../styles/common.css">
	<link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" type="text/css" href="../styles/reqVideo.css">
</head>
<body>
	<header>
		<div class="title">
			<span id="backTo"></span>
			<span>视频见证</span>
		</div>
	</header>
	<div class="wrap">
	<div id="preparePage">

		<div class="description">
			<p class="top_tip">接下来由我司工作人员与您进行简短的视频确认,请您做好以下准备</p>
		</div>

		<div class="imgOne">
			<ul class="clearfix">
				<li><img src="../images/reqVideo/sunShine.png"/><p>光线充足的位置</p></li>
				<li><img src="../images/reqVideo/roundQuiet.png"/><p>周边环境安静</p></li>
				<li><img src="../images/reqVideo/maskFace.png"/><p>视频录制时请<br/>显示全脸</p></li>
				<li><img src="../images/reqVideo/attestTime.png"/><p>视频认证时间</p><p class="liSpan" id="kaihuTime"><span></span></p></li>
			</ul>
		</div>
		
		<div class="nextstep" data-networkType="0">
			<span>我准备好了</span>
		</div>
		<a href="./Testpaper.html">Testpaper</a>
	</div>
	<div class="loadingReq hide">
		<div><img  src="../images/reqVideo/video.png"/></div>
		<div><span>正在发起视频请求，请稍候...</span></div>
	</div>
	</div>

    <script type="text/javascript" src='../scripts/zepto.js'></script>
	<script type="text/javascript" src='../scripts/basic.js'></script>
    <script type="text/javascript" src='../scripts/reqVideo.js'></script>
</body>
</html>