<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-touch-fullscreen" content="YES" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>设置密码</title>
	<script type="text/javascript">
    		(function(doc, win, undefined) {
				var docEl = doc.documentElement,
					resizeEvt = 'orientationchange' in win ? 'orientationchange' : 'resize',
					recalc = function() {
						var clientWidth = docEl.clientWidth;
						if(clientWidth === undefined) return;
						docEl.style.fontSize =(clientWidth / 750)*100 + 'px';
						docEl.style.display = "block";
					};
				if(doc.addEventListener === undefined) return;
				win.addEventListener(resizeEvt, recalc, false);
				doc.addEventListener('DOMContentLoaded', recalc, false)
			})(document, window);
    </script>
	<link rel="stylesheet" href="../styles/common.css">
	<link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" type="text/css" href="../styles/setPassword.css">
</head>
<body>
	<header>
		<div class="title">
			<span id="backTo"></span>
			<span>设置密码</span>
		</div>
	</header>
	<div class="wrap">
		<div class="description">
			<p class="top_tip" style="text-indent: 0;">设置交易密码，用于股票交易</p>
		</div>
	<div class="transaction">
		<div class="transactionpsw  std_box">
			<label>交易密码</label>
			<span id="jyPsw" class="moni_span">
			   <input type="text" placeholder="请输入6位数字交易密码" id="transactionpsw" readonly="readonly"/>
			    <p style="display:none;"></p>
			    <p style="display:none;"></p>
			    <img class="jyPswGB" src="../images/setPassword/gb.gif">
			</span>
		</div>
		<div class="transactionsure std_box">
			<label>确认密码</label>
			<span id="qrPsw" class="moni_span">
				<input type="text" placeholder="请再次输入6位数字交易密码" id="transactionsure" readonly="readonly"/>
			    <p style="display:none;"></p>
			    <p style="display:none;"></p>
				<img class="qrPswGB" src="../images/setPassword/gb.gif">
			</span>
			<span id="showPsw" class="unview forview">
				<img src="../images/setPassword/unview.png">
			</span>
		</div>
	</div>
	<div class="pswTipMsg hide" id="jyPswTipMsg"><span></span></div>
	<div class="description">
			<p class="top_tip" style="text-indent: 0;">设置资金密码，用于银行卡转账</p>
	</div>
	<div class="controleshow">
		<div class="samepsw std_box">
			<span>资金密码同交易密码</span>
			<span id="showFunds" class="btnopen"><img src="../images/setPassword/btnopen.png" /></span>
		</div>
		<div class="funds hide">
			<div class="fundspsw std_box">
				<label>资金密码</label>
				<span id="zjPsw" class="moni_span">
					<input type="text" placeholder="请输入6位数字资金密码" id="fundspsw" readonly="readonly"/>
			   		<p style="display:none;"></p>
			        <p style="display:none;"></p>
					<img class="zjPswGB" src="../images/setPassword/gb.gif" />
				</span>
			</div>
			<div class="fundspswsure std_box">
				<label>确认密码</label>
				<span id="qr2Psw" class="moni_span">
					<input type="text" placeholder="请再次输入6位数字资金密码" id="fundspswsure" readonly="readonly"/>
			   		<p style="display:none;"></p>
			        <p style="display:none;"></p>
					<img class="qr2PswGB" src="../images/setPassword/gb.gif" />
				</span>
				<span id="showFundsPsw" class="unview forview"><img src="../images/setPassword/unview.png" /></span>
			</div>
		</div>
	</div>
	<div class="pswTipMsg hide" id="zjPswTipMsg"><span></span></div>
	<div class="tipandrule">
		<span class="tip">提示：请记录以防止您忘记密码</span>
		<span class="pswrule" onclick="showPswRule();">密码设置规则</span>
	</div>
	
	<div class="nullModel" style="height:200px;display:none;"></div>
	<div class="nextstep"><span>下一步</span></div>
	<!-- 密码规则 -->
	<div class="ruledialog hide">
		<div class="dialogtitle"><span>密码设置规则</span></div>
			<div class="dialogcontent">
				<p>1.连续数字不能超过3个,如1234XX、4321XX均不符合要求;</p>
				<p>2.同一数字不能出现3次,如111XXX、X1X1X1、X1X11X;</p>
				<p>3.不能是生日、手机号、身份中号码中的一段,比如身份证号码是:330719196804253671,密码不能是:680425。</p>
			</div>
		<div class="dialogbtn"><span>确定</span></div>
	</div>
	<div class="mask hide"></div>
	<div class="hide"><img src="../images/close.png"  class="imgsize" id="jyPswCloseImg"/>
	</div>
	<div class="hide"><img src="../images/close.png"  class="imgsize" id="qrPswCloseImg"/></div>
	<div class="hide"><img src="../images/close.png"  class="imgsize" id="zjPswCloseImg"/></div>
	<div class="hide"><img src="../images/close.png"  class="imgsize" id="qr2PswCloseImg"/></div>
	</div>
		
	<script type="text/javascript" src='../scripts/zepto.js'></script>
	<script type="text/javascript" src='../scripts/basic.js'></script>
	<script type="text/javascript" src='../scripts/setPassword.js'></script>
</body>
</html>