.imgOne{
	width:100%;
	font-size: 0.32rem;
}
.imgOne ul li{
    width: 50%;
    /*height: 2.1rem;*/
   margin-top: 0.4rem;
	color:#333;
	float: left;
	text-align: center;
}
.imgOne ul li img{
	height: 1rem;
}
.imgOne ul li p{
	margin-top: 0.3rem;
}
.imgOne ul li p.liSpan{
	margin-top: 0;
}
.loadingReq{
	width: 100%;
    text-align: center;
    margin-top: 2.5rem;
    color:#333;
    font-size: 0.32rem;
}
.loadingReq div{margin-top: 0.45rem;}
.loadingReq div img{height:1rem;}
.nextstep{
	margin-top: 0.3rem;
}

