.transactionsure .forview img,.fundspswsure .forview img{
	width: 0.5rem;
    height: 0.4rem;
    float: right;
    margin-top: 0.25rem;
}
.samepsw img{
	width:1rem;
    height: 0.7rem;
    float: right;
    margin-top: 0.15rem;
}
.tipandrule{
	width: 6.9rem;
    margin: 0.2rem auto 0;
    font-size: 0.32rem;
}
.std_box input{
    width: 4.4rem;
}
.tip{
    color: #f64d54;
}

.pswrule{
    color: #3a83d7;
    float: right;
}
.ruledialog{
    background-color: #fff;
    border-radius: 0.1rem;
    top: 1rem;
    font-size: 0.32rem;
    position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	width: 5.3rem;
	height: auto;
	z-index: 20;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.dialogtitle{
	font-size: 0.36rem;
    width: 100%;
    text-align: center;
    color: #333;
    height: 1rem;
    line-height: 1rem;
    border-bottom: 1px solid #d7d7d7;
}

.dialogcontent{
	padding: 0.2rem;
	line-height: 0.48rem;
    color: #666;
}

.dialogbtn{
    width: 100%;
    text-align: center;
    color: #fff;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.36rem;
    background-color: #3a83d7;
}
.edittext{
    height: 35px;
    width: 60%;
    float: right;
    margin-right: 20%;
    color:#999;
    font-size: 14px;
}

.pswTipMsg{
    font-size: 0.32rem;
    color:#f64d54;
    margin-left: 0.3rem;
    margin-top: 0.2rem;
}

.imgsize{
	position: absolute;
    top: 50%;
    margin-top: -0.16rem;
    right: 0.9rem;
}
#jyPsw p,#qrPsw p,#zjPsw p,#qr2Psw p{display: inline;}
.jyPswGB,.qrPswGB,.zjPswGB,.qr2PswGB{display: none;}